.appHolder {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.canvasHolder {
  /* height: 100%; */
  /* width: 100%; */
  /* 188 735 */
  height: 735px;
  width: 1920px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -49.9%);
}
.videoPlayerHolder {
  height: 100%;
  width: 100%;
  background-color: black;
  position: relative;
}

.individualVideoHolder1,
.individualVideoHolder2,
.individualVideoHolder3 {
  height: 735px;
  width: 432px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video {
  height: 100%;
  width: 100%;
  transform-origin: center center;
  transform: scale(1.01);
}


.socialLinks {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
  z-index: 1000;
}

.socialLinks a {
  color: white;
  transition: opacity 0.3s ease;
  opacity: 0.7;
  display: flex;
}

.socialLinks a:hover {
  opacity: 1;
}
